<h1 class="page-header" [ngStyle]="{'color': 'black', 'font-weight': '900', 'font-family':'Brush Script MT, Brush Script Std, cursive', 'font-size': '75px'}">Have a lovely stay!</h1>

<div class="jumbotron text-center" [style.backgroundColor]="'#000000'" [ngStyle]="{'color': 'white', 'font-weight': 'bold'}">
  <h1>Hotel Royal Resident</h1>
  <p class="lead">Welcome to the MEAN Stack Application by
    <strong>Prat__18</strong>
  </p>
  <div>
    <a routerLink="/register" class="btn btn-primary">Register</a>
    <a routerLink="/login" class="btn btn-default">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images.pexels.com/photos/670246/pexels-photo-670246.jpeg?cs=srgb&dl=apartment-architecture-bedroom-670246.jpg&fm=jpg" alt="placeholder image"
        width="350" height="200">
      <div class="caption">
        <h3>Standard Room</h3>
        <p>A room assigned to one person. May have one or more beds.

          The room size or area of Single Rooms are generally between 37 m² to 45 m².</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images.pexels.com/photos/813787/pexels-photo-813787.jpeg?cs=srgb&dl=black-and-white-black-and-white-chairs-813787.jpg&fm=jpg"
        alt="Genric placeholder image" width="350" height="200">
      <div class="caption">
        <h3>Executive Room</h3>
        <p>A parlour or living room connected with to one or more bedrooms. A room with one or more bedrooms and a separate living space.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class=thumbnail>
      <img src="https://images.pexels.com/photos/271668/pexels-photo-271668.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt="Genric placeholder image" width="350" height="200">
      <div class=caption>
        <h3>Deluxe Room</h3>
        <p>President suite has a living space with a strong emphasis on grand in-room decoration, high-quality amenities and tailor-made service.</p>
      </div>
    </div>
  </div>
</div>